.module_one_container {
    /* display: flex; */
    width: 750px;
    color: red;
    height: 200px;
}
.module_one_container button {
    border: 2px solid black;
}
.button {
    width: 375px;
}
.button :global(.am-button) {
    font-size: 40px;
}