{
    "presets": [["env", { 
      "debug": true
      }],
      "react"],
    "plugins": [
      "transform-runtime",
      ["module-resolver",{
        "alias": {
          "dva": "dva-no-router"
        }
      }],
      "transform-es2015-spread"
    ],
    "env": {
        "development": {
          "plugins": [
            "dva-hmr"
          ]
        }
      }
}