{
    "presets": ["env", "react"],
    "plugins": [
      "transform-runtime",
      ["module-resolver",{
        "alias": {
          "dva": "dva-no-router"
        }
      }]
    ],
    "env": {
        "development": {
          "plugins": [
            "dva-hmr"
          ]
        }
      }
}